@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
    body { background: #ddd; color: black; }
}

.animate-fade-in {
    animation: fade-in 0.5s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
